:root{
    --cor-fundo: #A6A400;
    --cor-principal: #946B08;
    --cor-secundaria: #ffffc4;
    --cor-destaque: #E6C333;
    --cor-texto: #351700;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}